.button{
    width: 200px;
    height: 50px;
    left: 5px;
    top: 150px;
    background-color: rgb(100, 100, 228);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    

    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color:white
    
}
.button:hover{
    background-color:var(--button-hover-color) ;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.reset{
list-style: none;
text-decoration: none;
}
:root{
    --main-text-color: #212121;
    --main-bg-color:#ffffff;
    --hover-focus-color:#2196F3;
    --header-logo-color:#000000;
    --contact-color:#757575;
    --section-hero-color:#2F303A;
    --btn-hover-focus-color:#188CE8;
    --section-team-color:#F5F4FA;
    --features-title-color:#212121;
    --features-paragraph-color:#757575;
    --what-we-do-title-color:#212121;
    --our-team-title-color:#212121;
    --our-team-name-color:#212121;
    --our-team-profesion:#757575;
    --footer-address-color:#ffffff;
    --footer-contact-link-color:rgba(255, 255, 255, 0.6);
    --footer-logo-color:#ffffff;
    --button-hover-color:#aaa;
    --button-color:#188CE8;
    --header-text-color:#2196F3;
    
    

}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color:var(--main-bg-color);
}

.header {
}
.header-logo {
    font-family: 'Raleway';
    font-weight:700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
}
.span-logo {
    color:var(--hover-focus-color);
    
}
.header-nav {
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.header-list:hover, .header-list:focus {
    color:var(--btn-hover-focus-color)
}
.img {
    
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1635px;
}
.inforamtion{
     
    width: 251px;
    height: 21px;
    left: 215px;
    top: 2268px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2F303A;

}
.table {
    width: 100%;
background: #2F303A
}

.text{
width: 696px;
height: 120px;
left: 300px;
top: px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}

/*header-text*/
.studio-text{
    color: #188CE8;
}
.studio-text:hover{
    color:var(--header-text-color) ;
}
.contact-link{
    color: #2F303A;
}

.portfolio-text{
    color: #2F303A;
}
.portfolio-text:hover{
    color: var(--header-text-color);
}


.contacts-text{
    color: #2F303A;
}
.contacts-text:hover{
    color: var(--header-text-color);
}



/*buttons*/
.button-all{
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: #2196F3;
    border-radius: 4px;
    box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); ;


    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

}
.button-all:hover{
    background-color:var(--button-color) ;
}
.button-web{
     
    width: 128px;
    height: 38px;
    left:576px ;
    top: 174px;;

    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #212121;


}
.button-web:hover{
    background-color:var(--button-color) ;
}
.button-apps{
     
    width: 145px;
    height: 38px;
    left:712px ;
    top: 174px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.button-apps:hover{
    background-color: var(--button-color);
}


.button-design{
     
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.button-design:hover{
    background-color: var(--button-color);
}
.button-market{
     
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.button-market:hover{
    background-color: var(--button-color);
}
/*section features*/
.features{

}
.features-list{

}
.features-item {

}
.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--features-title-color);


}
.features-paragraph {
    font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;
color: var(--features-paragraph-color);
}
/* what-we-do*/
.what-we-do{

}
.wwd-title {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color:var(--what-we-do-title-color);

}
.wwd-list {
}
.wwd-item {
}
.wwd-img {
}
/*our-team*/
.our-team{

}
.our-team-title {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-title-color);
}
.our-team-list {
}
.our-team-item {
}
.our-team-img {
 
}
.our-team-name {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-name-color);


}
.our-team-profesion {
    font-weight: 400;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-profesion);
}
/*footer*/
.footer{
    
    width: 100%;
background: #2F303A;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight:700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--footer-logo-color);
}
.footer-span-logo{
    color:var(--hover-focus-color);
}
.footer-address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--footer-address-color)
}
.footer-list{

}
.footer-item{
    
}

.footer-contact-link{
    font-weight: 400;
font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color:var(--footer-contact-link-color);
}
/*img*/
.img {
}
.img-list {
}
.img-item {
}
.web {
}
.design {
}
.seafood {
}
.prime {
}
.boxes {
}
.web-design {
}
.edition {
}
.lab {
}
.business {
}










