.main-button{
    width: 200px;
    height: 50px;
    left: 5px;
    top: 150px;
    background-color: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color:white;
    padding: 10px 32px;
    align-self: center;



}
.main-button:hover{
    background-color:var(--button-hover-color) ;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.reset{
list-style: none;
text-decoration: none;
}
:root{
    --main-text-color: #212121;
    --main-bg-color:#ffffff;
    --hover-focus-color:#2196F3;
    --header-logo-color:#000000;
    --contact-color:#757575;
    --section-hero-color:#2F303A;
    --btn-hover-focus-color:#188CE8;
    --section-team-color:#F5F4FA;
    --features-title-color:#212121;
    --features-paragraph-color:#757575;
    --what-we-do-title-color:#212121;
    --our-team-title-color:#212121;
    --our-team-name-color:#212121;
    --our-team-profesion:#757575;
    --footer-address-color:#ffffff;
    --footer-contact-link-color:rgba(255, 255, 255, 0.6);
    --footer-logo-color:#ffffff;
    --button-hover-color:#2196F3;
    --button-color:#188CE8;
    --header-text-color:#2196F3;
    --our-team-icon-hover-color:#2196F3;
    --footer-text-color:#ffffff;
    

}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color:var(--main-bg-color);
}
ul,ol{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

/*header*/

.header {
    border-bottom: 1px solid  #ececec;
    

}
.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight:700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
    margin: right 93px; 
}
.span-logo {
    color:var(--hover-focus-color);
    
}
.header-nav {
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
margin-right: 331px;
margin-left: 93px; 
}
.header-list{
    display: flex;
    flex-direction: row;
}
.header-item:not(:last-child){
    margin-right: 50px;

}
.header-item:hover, .header-item:focus {
    color:var(--btn-hover-focus-color)
}
.header-item{
    padding: 32px 0;
    
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-icon{
    margin-right: 10px;

}
.contact-item:hover >a{
    fill:#2196F3;
    color: #2196F3;

}


.img {

}



.inforamtion{
     
    width: 251px;
    height: 21px;
    left: 215px;
    top: 2268px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2F303A;

}
.table {
    width: 100%;
background: #2F303A;


}
.table-container{
    padding: 200px 0;
    display: flex;
    flex-direction: column;

}

.text{
width: 696px;
height: 120px;
left: 300px;
top: px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
margin:0 auto;
margin-bottom: 30px;
max-width: 716px;
}

/*header-text*/
.studio-text{
    color: #188CE8;
}
.studio-text:hover{
    color:var(--header-text-color) ;
}


.portfolio-text{
    color: #2F303A;
}
.portfolio-text:hover{
    color: var(--header-text-color);
}


.contacts-text{
    color: #2F303A;
}
.contacts-text:hover{
    color: var(--header-text-color);
}
.contact-list{  
    display: flex;
    flex-direction: row;
}
.contact-item:first-child{
    margin-right: 50px;

}
.contact-link{
    color: #2F303A;
    display:flex;



    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;


}



/*buttons*/
 .buttons{
    padding: 94px 0;
    
 }
.button{
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;

    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 0.03em;

color: #212121;
width: fit-content;
border: 0px;


}
.button:hover,.button:focus{
    background-color: var(--hover-focus-color);
    color: white;
}
.button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child){
    margin-right: 8px;
}
.button-item {
}

/*section features*/
.features{
    margin-top: 94px;
}
.features-list{
    display: flex;
   
}
.features-item {
    margin-right: 30px;
    max-width: 270px;
}
.features-title {
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--features-title-color);
 margin-bottom: 10px;


}
.features-paragraph {
    font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;
color: var(--features-paragraph-color);
}

/* what-we-do*/
.what-we-do{
    padding-top:94px;
    padding-bottom:94px; 

}
.wwd-title {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color:var(--what-we-do-title-color);

}
.wwd-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.wwd-item:nth-child(2) {
    margin-left:30px;
    margin-right: 30px;
   

    
}
.wwd-img {
}
/*our-team*/
.our-team{
    background-color:#F5F4FA;
    padding: 94px 0px;
    

}
.our-team-title {
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-title-color);
margin-bottom: 50px;

}
.our-team-list {
    
    display: flex;

}
.our-team-item {
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.our-team-item:last-child{
    margin-right: 0px;
}


.our-team-img {
 
}
.our-team-icon{
    fill: #AFB1B8;
    

}
.our-team-icon:hover{
    fill:white;

    
    

}
.our-team-stroke{
    display: flex;
    padding-left: 60px;
    ;
    
}
.icon-item{
    max-width: fit-content;
    margin-right: 10px;
    width:44px;
    height: 44px;
}
.icon-item:hover{
    background-color:var(--hover-focus-color);
    border-radius: 50%;
}


.description{
    padding: 30px 0;
    
}
.our-team-name {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-name-color);

margin-bottom: 10px;
}
.our-team-profesion {
    font-weight: 400;
font-size: 16px;
line-height: 19px;

text-align: center;
letter-spacing: 0.03em;
color: var(--our-team-profesion);
}

/*clients*/

.clients {
    padding: 94px 0;

}
.clients-list {
    flex-direction: row;
    display: flex;
    justify-content: center;

}
.cliens-item:not(:last-child){
    margin-right: 30px;
    
}

.cliens-icon {
   
    
}
.clients-item{
    
    
    

}
.clients-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 50px;
}
.clients-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;  
}
.clients-link:hover,.clients-link:focus{
    fill:#2196F3 ;
    border-color: #2196F3;
}

/*footer*/
.footer{
    padding: 60px 0px;
    width: 100%;
background: #2F303A;
}
.footer .container{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight:700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--footer-logo-color);
    display: block;
    margin-bottom: 20px;
}
.footer-span-logo{
    color:var(--hover-focus-color);
}
.footer-address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--footer-address-color);
margin-bottom: 9px;
    


}
.footer-list{

}
.footer-item:first-child{
    margin-bottom:9px;
    
}


.footer-contact-link{
    font-weight: 400;
font-size: 14px;
line-height: 24px;


letter-spacing: 0.03em;

color:var(--footer-contact-link-color);
}
.footer-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--footer-text-color);
}

/*img*/
.img {

}
.things{
    display:block;
    
}
.img-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.img-item {
    border: 1px solid #EEEEEE;
}
.img-item:nth-child(3n-1){
    margin-right:30px ;
    margin-left:30px; 
}
.img-item:nth-child(-n+6){
    margin-bottom: 30px;
}
.img-description{
    padding: 20px 24px;

}
.img-paragraph{
    margin-top: 4px;
    


}

.web {
}
.design {
}
.seafood {
}
.prime {
}
.boxes {
}
.web-design {
}
.edition {
}
.lab {
}
.business {
}
 

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}









